<% for post in @post %>

		<h2>Editing: <%= post.title %></h2>
		
		<form action="/admin/edit" method="post" accept-charset="utf-8">
		<fieldset>
			<ol>
				<li>
					<label for="text">Title: </label>
					<input type="text" name="title" value="<%= post.title %>" id="post-title" class="post">
				</li>
				<li>
					<label for="content">Content: </label>
					<textarea name="content" rows="9" cols="50" class="post" ><%= post.content %></textarea>
				</li>
				<li>
					<label for="tags">Tags: </label>			
					<input type="text" name="tags" value="<%= @tags %>" placeholder="comma seperated" class="post">
				</li>
				<li>
					<label for="url">URL: </label>			
					<input type="text" name="url" value="<%= post.url %>" id="post-url" class="post">
				</li>
				<li>
					<input type="hidden" name="id" value="<%= post.id %>">
					<input type="hidden" name="author" value="1">
					<button type="submit">Submit</button>
				</li>
			</ol>
		</fieldset>
		</form>
		<hr>
<% end %>