<% if !@post.empty? %>
<% for post in @post %>
<article>
	<h2><a href="/post/<%= post.url %>"><%= post.title %></a><% if auth! %> <a href="/admin/edit/<%= post.id %>"><img src="/images/edit_500.png" alt="Edit" width="16px" height="16px" class="edit"></a> <% end %></h2>
	
	<%= article = Maruku.new(post.content); article.to_html %>
	
	<footer>
		<p>Posted by <%= lookup = @author.find(post.author); lookup.name %> on <time datetime="<%= t = post.created_at; t.xmlschema %>"><%= t.strftime("%B") + " " + apply_ordinal(t.strftime("%d")) + ", " + t.strftime("%Y") %></time>. <% if !@tags.empty? %> Tagged with <%= @tags %>. <% end %></p>
	</footer>
</article>
<hr>
<% end %>
<% else %>
	<h3>No content yet.</h3>
	<hr>
<% end %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		// hide the edit image by default
		$("img.edit").hide();
		// show the edit image when you hover over the title
		$("article h2").hover(showEditImg, hideEditImg);
		// define show and hide functions
		function showEditImg() {
			$("img.edit").show();
		}
		function hideEditImg() {
			$("img.edit").hide();
		}
	});
</script>