<% if !@post.empty? %>
<% for post in @post %>
<article>
	<h2><a href="/post/<%= post.url %>"><%= post.title %></a><% if auth! then %> <a href="/admin/edit/<%= post.id %>"><img src="/images/edit_500.png" alt="Edit" width="16px" height="16px" class="edit-img"></a> <% end %></h2>
	
	<%= article = Maruku.new(post.content); article.to_html %>
	
	<footer>
		<p>Posted by <%= lookup = @author.find(post.author); lookup.name %> on <time datetime="<%= t = post.created_at; t.xmlschema %>"><%= t.strftime("%B %d, %Y") %></time>. <% if !@tags.empty? %> Tagged with <%= @tags %>. <% end %></p>
	</footer>
</article>
<hr>

<% end %>
<% else %>
	<h3>No content yet.</h3>
	<hr>
<% end %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		function showEdit() {
			$(".edit-img").addClass("show");
		}
		
		$("h2").hover(showEdit);
	});
</script>