<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 <title>nickcharlton.net</title>
 <link href="http://nickcharlton.net/atom.xml" rel="self"/>
 <link href="http://nickcharlton.net/" />
 <updated><%= @last_modified.xmlschema %></updated>
 <id>http://nickcharlton.net/</id>
 <author>
   <name>Nick Charlton</name>
   <email>nickcharlton91@gmail.com</email>
 </author>
 <% for post in @posts %>
 <entry>
   <id>http://nickcharlton.net/post/<%= post.url %></id>
   <link href="http://nickcharlton.net/post/<%= post.url %>"/>
   <title><%= post.title %></title>
   <author>
     <name><%= lookup = @author.find(post.author); lookup.name %></name>
     <email><%= lookup = @author.find(post.author); lookup.email %></email>
   </author>
   <content type="html"><%= article = Maruku.new(post.content); article.to_html.to_xs %></content>
   <updated><%= t = post.updated_at; t.xmlschema %></updated>
 </entry>
 <% end %>
</feed>